<launch>
	<param name="robot_description" 
	

	textfile="$(find modulessai)/urdf/modulessai.urdf" />
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model modulessai -param robot_description -y -6"/>
	
<!-- loads the controllers -->
<rosparam file="$(find modulessai)/config/config.yaml" command="load" />

<node name="controller_spawner" pkg="controller_manager" type="spawner" ns="/modulessai" args="serpent_main_joint_position_controller joint_state_controller --shutdown-timeout 3"/> 

<!-- converts joint states to TF transforms -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">

    <remap from="/joint_states" to="/modulessai/joint_states" />
</node>
</launch>
